.DS_store
*.pyc
.idea
.tox
.cache
.eggs
.vscode
.pytest_cache/
venv
nfvbench.egg-info
nfvbenchvm/dib/dib-venv
nfvbenchvm/dib/nfvbenchvm_centos-*.d/
*.qcow2
docs/_static
build/
AUTHORS
ChangeLog
docs/_build/*
