# Python requirements to setup a development environment to be able to do
# anything directly or with tox: run unit tests, run code quality checks, build
# the docs, ...

-c https://opendev.org/openstack/requirements/raw/branch/stable/yoga/upper-constraints.txt
-r requirements.txt
-r test-requirements.txt
-r docs/requirements.txt

# Install tox with the same version as on OPNFV build servers
tox==3.21.4
